h1= @board.name

h4 Moderated by 
|   #{@board.moderator.email}

br/
br/

= link_to "Add Post", new_board_post_path(@board), class: "btn btn-default"

br/
br/

ul
- @posts.each do |post|
  li= link_to post.title, @board
  |  by #{post.author.email}
  br/